<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-for循环及数据绑定</title>
  <script src="js/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="value">
    <button @click="addContent">底部添加</button>
    <button @click="delContent">删除最新</button>
    <ul>
      <li v-for="(item,index) in items" >
        <template v-if="index != 1">
          {{index}} -- {{ item }}-- <button @click="delSample(index)">删除</button>
        </template>
      </li>
    </ul>
  </div>

  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        value: "",
        items: ["第一", "第二", "第三"]
      },
      methods: {
        // 添加元素
        addContent(){
          if (this.value != "") {
            this.items.push(this.value)
          }else{
            alert("value不能为空")
          }
        },
        //删除元素
        delContent(){
          this.items.pop()
        },

        //删除单个原色
        delSample(index){
          console.log(index);
          if(this.items.length==1){
            alert("必须保留一个人")
          }else{
          //splice(index, number):从index处删除number个数据
            this.items.splice(index, 1)
          }
        }
      }
    })
  </script>
</body>
</html>