<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-for循环及数据绑定</title>
  <script src="js/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="value">
    <button @click="addContent">添加</button>
    <ul>
      <li v-for="(item,index) in items">{{index}} -- {{ item }}</li>
    </ul>
  </div>

  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        value: "",
        items: ["第一", "第二", "第三"]
      },
      methods: {
        addContent(){
          if (this.value != "") {
            this.items.push(this.value)
          }
        }
      }
    })
  </script>
</body>
</html>